<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% if title %}
            {{ title }} · Naná Essência Admin
        {% else %}
            Naná Essência Admin
        {% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/app.css') }}">
</head>
<body class="flex min-h-screen bg-gray-50 text-gray-900">

    {% include 'components/sidebar.html'%}     
    
    <!-- ══════════════════════════════════════
       MAIN
    ══════════════════════════════════════════ -->

    <div class="ml-60 flex flex-1 flex-col">

        {% include 'components/topbar.html'%}

        <!-- Page content -->
        <main class="flex flex-1 flex-col gap-7 p-7">

            {% block content %}
            {% endblock content %}

        </main>

    </div>

</body>
</html>